

@font-face{
    font-family: myFirstFont;
    src: url(Fonts/Chistoso-Regular.ttf);
}

/*s */

body{
    background-color: rgb(40, 51, 50);
    
}
/*s */
.Main-Container{
   padding: 12px;
}
/*s */
.Main-Content{
    text-align: center;
    padding: 20%;
    padding-top: 10px;
}
 /*s */
.Main-Head{
    background-color: rgb(50, 66, 64);
    height: 50px;
    border-radius: 8px;
}
/*s */
.Main-Content-LogoHeader{
    text-align: center;
    padding: 20px;
    
}

.banner-logo{
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    border-radius: 8px;
}

/*s */

.Main-Socials-Container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: transparent;
    margin: 18px;
    gap: 16px;
}

.Social-Card{
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-top: 20px;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    user-select: none;
    align-items: center;
    border-radius: 8px;
}

.Social-Card-Small-text{
    font-family: myFirstFont;
    font-size: small;
    color: white;
}

.Social-Card-Second-Line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.Social-Card-Logo{
    
}

.Social-Card-Large-text{
    font-family: myFirstFont;
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    color: white;
}

.discord-logo{
    width: 35px;
    height: 35px;

}

/*s */

.Main-Content-Rules{
    display: flex;
    flex-direction: row;
}


a{
    text-decoration: none;
    width: 50%;
    height: 40%;
    display: contents;
    margin: auto;
}

img{
   
}
/* box-shadow: 0px 1px 8px 2px; */

